.container{
    background-color: #24242a;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: white;
  }

  .pageContainer{
    width: 100vw;
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .resultContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    gap: 5px;
  }

  

  .logo{
    color: blueviolet;
    font-size: 40px;
    padding: 0px 10px;
    font-weight: bolder;
    background-image: url("../assets/logo_back.jpg");
    margin-top: 5%;

  }
  
  .search{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: white;
    border: 3px solid rgb(67, 16, 112);
    border-radius: 20px;
    color: black;
    box-shadow: inset 3px 3px 8px rgba(43, 42, 170, 0.7), 
    inset -3px -3px 8px rgba(13, 41, 65, 0.7); 
  }
  
  .searchInput{
    background: transparent;
    height: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 0px 20px;
    color: black;
    flex-grow: 1;
  }
  
  
  .checkBtn{
    background-color: #6f6fc0;
    height: 100%-20px;
    margin: 5px;
    border-radius: 17px;
    z-index: 1;
  }


  .checkBtn:hover{
    background-color: #2b2aaa;
  }


/* loading spinner */
  .loading-spinner {
    width: 20px;
    height: 20px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    display: inline-block;
  }
  

  .safe{
    color: rgb(95, 216, 107);
    font-size: xx-large;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  

  .malicious{
    color: red;
    font-size: xx-large;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .malicious>img{
    width: 40px;
  }
  
  